
/* currency formatting */
.moneyALL::before {content:"Lek";}
.moneyAFN::before {content:"؋";}
.moneyARS::before {content:"$";}
.moneyAWG::before {content:"ƒ";}
.moneyAUD::before {content:"$";}
.moneyAZN::before {content:"₼";}
.moneyBSD::before {content:"$";}
.moneyBBD::before {content:"$";}
.moneyBYN::before {content:"Br";}
.moneyBZD::before {content:"BZ$";}
.moneyBMD::before {content:"$";}
.moneyBOB::before {content:"$b";}
.moneyBAM::before {content:"KM";}
.moneyBWP::before {content:"P";}
.moneyBGN::before {content:"лв";}
.moneyBRL::before {content:"R$";}
.moneyBND::before {content:"$";}
.moneyKHR::before {content:"៛";}
.moneyCAD::before {content:"$";}
.moneyKYD::before {content:"$";}
.moneyCLP::before {content:"$";}
.moneyCNY::before {content:"¥";}
.moneyCOP::before {content:"$";}
.moneyCRC::before {content:"₡";}
.moneyHRK::before {content:"kn";}
.moneyCUP::before {content:"₱";}
.moneyCZK::before {content:"Kč";}
.moneyDKK::before {content:"kr";}
.moneyDOP::before {content:"RD$";}
.moneyXCD::before {content:"$";}
.moneyEGP::before {content:"£";}
.moneySVC::before {content:"$";}
.moneyEUR::before {content:"€";}
.moneyFKP::before {content:"£";}
.moneyFJD::before {content:"$";}
.moneyGHS::before {content:"¢";}
.moneyGIP::before {content:"£";}
.moneyGTQ::before {content:"Q";}
.moneyGGP::before {content:"£";}
.moneyGYD::before {content:"$";}
.moneyHNL::before {content:"L";}
.moneyHKD::before {content:"$";}
.moneyHUF::before {content:"Ft";}
.moneyISK::before {content:"kr";}
.moneyINR::before {content:"";}
.moneyIDR::before {content:"Rp";}
.moneyIRR::before {content:"﷼";}
.moneyIMP::before {content:"£";}
.moneyILS::before {content:"₪";}
.moneyJMD::before {content:"J$";}
.moneyJPY::before {content:"¥";}
.moneyJEP::before {content:"£";}
.moneyKZT::before {content:"лв";}
.moneyKPW::before {content:"₩";}
.moneyKRW::before {content:"₩";}
.moneyKGS::before {content:"лв";}
.moneyLAK::before {content:"₭";}
.moneyLBP::before {content:"£";}
.moneyLRD::before {content:"$";}
.moneyMKD::before {content:"ден";}
.moneyMYR::before {content:"RM";}
.moneyMUR::before {content:"₨";}
.moneyMXN::before {content:"$";}
.moneyMNT::before {content:"₮";}
.moneyMZN::before {content:"MT";}
.moneyNAD::before {content:"$";}
.moneyNPR::before {content:"₨";}
.moneyANG::before {content:"ƒ";}
.moneyNZD::before {content:"$";}
.moneyNIO::before {content:"C$";}
.moneyNGN::before {content:"₦";}
.moneyNOK::before {content:"kr";}
.moneyOMR::before {content:"﷼";}
.moneyPKR::before {content:"₨";}
.moneyPAB::before {content:"B/.";}
.moneyPYG::before {content:"Gs";}
.moneyPEN::before {content:"S/.";}
.moneyPHP::before {content:"₱";}
.moneyPLN::before {content:"zł";}
.moneyQAR::before {content:"﷼";}
.moneyRON::before {content:"lei";}
.moneyRUB::before {content:"₽";}
.moneySHP::before {content:"£";}
.moneySAR::before {content:"﷼";}
.moneyRSD::before {content:"Дин.";}
.moneySCR::before {content:"₨";}
.moneySGD::before {content:"$";}
.moneySBD::before {content:"$";}
.moneySOS::before {content:"S";}
.moneyZAR::before {content:"R";}
.moneyLKR::before {content:"₨";}
.moneySEK::before {content:"kr";}
.moneyCHF::before {content:"CHF";}
.moneySRD::before {content:"$";}
.moneySYP::before {content:"£";}
.moneyTWD::before {content:"NT$";}
.moneyTHB::before {content:"฿";}
.moneyTTD::before {content:"TT$";}
.moneyTRY::before {content:"";}
.moneyTVD::before {content:"$";}
.moneyUAH::before {content:"₴";}
.moneyGBP::before {content:"£";}
.moneyUSD::before {content:"$";}
.moneyUYU::before {content:"$U";}
.moneyUZS::before {content:"лв";}
.moneyVEF::before {content:"Bs";}
.moneyVND::before {content:"₫";}
.moneyYER::before {content:"﷼";}
.moneyZWD::before {content:"Z$";}